<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>810116317147-djv28nfb71mhmistuk4o74eeqhqje4bq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.810116317147-djv28nfb71mhmistuk4o74eeqhqje4bq</string>
	<key>API_KEY</key>
	<string>AIzaSyAO30sL2W1TMp0S4XiiMOtG7sOhgF6xEpY</string>
	<key>GCM_SENDER_ID</key>
	<string>810116317147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mon-day-tasks2.startup</string>
	<key>PROJECT_ID</key>
	<string>susftask</string>
	<key>STORAGE_BUCKET</key>
	<string>susftask.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810116317147:ios:268c99896980ba2a8531fe</string>
	<key>DATABASE_URL</key>
	<string>https://susftask.firebaseio.com</string>
</dict>
</plist>